name: Deploy to Server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: routewise.ru
          username: dev
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/dev/routewise-frontend
            git pull
            npm install --legacy-peer-deps
            npm run build
            npx pm2 restart routewise-frontend
